<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burgers</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <style>
        .devour {
            cursor: pointer;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

<script>
    $(document).on('click', ".devour", function (event) {
        var burgerID = $(this).attr("data-id");
        var url = "/burgers/" + burgerID;

        $.ajax({
            url: url,
            type: 'PUT',
            success: function (result) {
                console.log("Success!");
            }
        }).then(function (result) {
            location.reload();
        });
    })

    $('#clear').on('click', function (event) {

        $.ajax({
            url: '/burgers',
            type: 'DELETE',
            success: function (result) {
                console.log("Successfully threw up!!");
            }
        }).then(function (result) {
            location.reload();
        });
    })
</script>

</html>